<ion-view title="Home" id="page1">
  <ion-content padding="true" style="background: url(img/123201556.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/WjxEyx7WTNOifCoeWTXl_jeronimo.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="home-form4" class="list">
      <label class="item item-input" id="home-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <ion-list id="home-list5">
      <ion-item class="item-thumbnail-left item-icon-right positive" id="home-list-item11">
        <img src="img/limpador_veja_multiuso_2.jpg">
        <h2positive>Veja Multiuso - 400ml
          <p>R$6.90</p>
          <i class="icon ion-chevron-left icon-accessory"></i>
          <ion-option-button class="button-dark">
            <center>
              <i class="icon ion-android-cart"></i>
            </center>
          </ion-option-button>
          <ion-option-button class="button-dark">
            <i class="icon ion-information-circled"></i>
          </ion-option-button>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
