<ion-view title="Item" id="page6">
  <ion-content padding="true" style="background: url(img/123201556.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/Y88L1lCjSeO7PcSWgpFR_jeronimo.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="item-card21">
      <div class=" item item-image">
        <img src="img/00003.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="item-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Omo em pó 4kg</p>
      </div>
    </div>
    <div id="item-markdown9" style="text-align:center;" class="show-list-numbers-and-dots"></div>
    <form id="item-form3" class="list">
      <label class="item item-input" id="item-textarea4">
        <span class="input-label">R$39,90</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="item-input9">
        <span class="input-label">Qtd</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="item-button4" style="border-radius:20px 20px 20px 20px;" class="button button-balanced  button-block">Adicionar no carrinho</button>
  </ion-content>
</ion-view>