<ion-view title="Profile" id="page9">
  <ion-content padding="true" style="background: url(img/123201556.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/WexT3puTeu1w6pCVNP71_jeronimo.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/rEUe8A2Dzw7Kbkhkv3Zzp7VOl8mi0NteVfbvWtppi04eiL3jKVrgUa2pUblfRGdYPkrWw300" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h2 id="profile-heading5" style="color:#000000;text-align:center;">Shrek</h2>
    <div id="profile-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">shrek@disney.com</p>
    </div>
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <div id="profile-container5">
      <ion-list id="profile-list6">
        <ion-item class="item-icon-left" id="profile-list-item52">
          <i class="icon ion-ios-telephone"></i>11 9123-7890</ion-item>
        <ion-item class="item-icon-left" id="profile-list-item53">
          <i class="icon ion-android-locate"></i>São Paulo - SP</ion-item>
        <ion-item class="item-icon-left" id="profile-list-item54">
          <i class="icon ion-ios-clock-outline"></i>Histórico</ion-item>
        <ion-list id="profile-list7">
          <ion-item class="item-icon-left" id="profile-list-item55">
            <i class="icon ion-android-checkbox-outline"></i>Comprador PRO</ion-item>
          <ion-item class="item-icon-left" id="profile-list-item56">
            <i class="icon ion-android-settings"></i>Configurações</ion-item>
          <ion-item class="item-icon-left" id="profile-list-item57">
            <i class="icon ion-log-out"></i>Log Out</ion-item>
        </ion-list>
      </ion-list>
    </div>
  </ion-content>
</ion-view>